!!! 5
%html
    %head
        %meta{charset: "utf-8"}
        %title Slider
        %link{rel: "stylesheet", href: "dist/css/style.css"}
    %body

        %ul#views-slides
            %li
                %a{href: "#"}
                    %img{src: "dist/img/sample-slides/desert.jpg"}
            %li
                %a{href: "#"}
                    %img{src: "dist/img/sample-slides/field.jpg"}
            %li
                %a{href: "#"}
                    %img{src: "dist/img/sample-slides/forest.jpg"}

        %ul#animals-slides
            %li
                %a{href: "#"}
                    %img{src: "dist/img/sample-slides/lion.jpg"}
            %li
                %a{href: "#"}
                    %img{src: "dist/img/sample-slides/eagle.jpg"}
            %li
                %a{href: "#"}
                    %img{src: "dist/img/sample-slides/catowls.jpg"}

        %script{src: "dist/js/require.js"}
        %script{src: "dist/js/app.js"}