.navigation-bar {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;

    & > li {
        display: inline;
    }
}

.slide-indicator > a {
    @include border-radius(12px);

    width: 16px;
    height: 16px;
    background-color: #333;
    margin: 20px 5px;
    border: solid 3px rgba(255, 255, 255, .75);
    transition: .45s;
    cursor: pointer;
    display: inline-block;

    &:hover {
        background-color: #555;
    }

    &.active {
        background-color: #fff;
        border: solid 3px #2af;
    }
}